{% extends "base.html" %}


{% block titulo %}
    Eliminar
{% endblock %}

{% block content %}
<!--aqui comienza mi codigo-->


{% if user.is_authenticated %}


<h1>Eliminando a {{ horarioslaboratorios.nombre }}</h1>
</br></br>

<div class="form-group">
  <form method=POST>
    {% csrf_token %}


    <ul>
      <h3>Horario</h3>
      <li> <h5><strong> Lunes :</strong> {{ horarioslaboratorios.lunes }}</h5></li>
      <li> <h5><strong> Martes :</strong> {{ horarioslaboratorios.martes }}</h5></li>
      <li> <h5><strong> Miercoles :</strong> {{ horarioslaboratorios.miercoles }}</h5></li>
      <li> <h5><strong> Jueves :</strong> {{ horarioslaboratorios.jueves }}</h5></li>
      <li> <h5><strong> Viernes :</strong> {{ horarioslaboratorios.viernes }}</h5></li>
      <li> <h5><strong> Sabado :</strong> {{ horarioslaboratorios.sabado }}</h5></li>
      <li> <h5><strong> Domingo :</strong> {{ horarioslaboratorios.domingo }}</h5></li>

    </ul>

    </br>
    <strong>Estas seguro que quieres eliminar a {{ horarioslaboratorios.nombre }}?</strong><br/>
    </br>
    <button class= "btn btn-danger">Eliminar</button>
</div>

  {% else %}

  <h3>No tienes autoridad de estar en esta pagina</h3>


  {% endif %}
<!--aqui Termina mi codigo-->
{%  endblock %}
