{% extends "base.html" %}


{% block titulo %}
    ISABELLA
{% endblock %}

{% block content %}
<!--aqui comienza mi codigo-->




<main role="main">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">
  <h1 class="display-3">Conoce a ISABELLA</h1>
  <p>
    <b>Isabella</b> es una <i>inteligencia artificial</i>  diseñada para ayudar a los estudiantes y
    profesores en la busqueda de informacion tales como: ubicaciones (salones, laboratorios, baños, etc.),
    información de la universidad (Horarios de atención, calendarios, etc.), así como otros aspectos.<br>
    Isabella es capaz de responder preguntas casuales generando la sensacion de hablar con una persona,
    así que no temas hablar con ella.&#128406;&#129302;

  </p>

</div>
</div>

<div class="container">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>Horarios&#128342;</h2>
    <p>
      La funcion horarios brindara la opcion de establecer los horarios de atencion de
      los profesores de la facultad de ingenieria electronica. Al quedar establecidos Isabella sera
      capaz de brindar la información que se incorpore allí.

    </p>

  </div>
  <div class="col-md-4">
    <h2>Calendario&#128198;</h2>
    <p>
      La funcion calendario brindara la opcion de establecer el calendario escolar del semestre estudiantil que
      se este cursando en el momento. Al quedar establecidos Isabella sera
      capaz de brindar la información que se incorpore allí.
     </p>

  </div>
  <div class="col-md-4">
    <h2>Ubicaciones&#128205;</h2>
    <p>
      La funcion horarios toma las coordenadas de cada ubicación de salón, laboratorio, baño o cafetería que halla
      en la universidad. Esta funcion solo debe ser cambiada si se añade una nueva ubicacion o si se cambia.

    </p>

  </div>
</div>

<hr>

</div> <!-- /container -->

</main>

<footer class="container">
<p>&THORN; Designers B&B </p>
<p>&copy; Company 2017-2018</p>
</footer>

<!--aqui Termina mi codigo-->
{%  endblock %}
